<h1>El Hombre Araña</h1>
    <div class="row">
        <div class="col m-6">
            <h3>Descripcion de la Pelicula</h3>
            <hr>
            <div *ngIf="mostrar" class="card text-bg-secondary mb-4" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title"> {{ pelicula.nombre }}</h5>
                  <p class="card-text">{{ pelicula.descripcion }}</p>
                </div>
            </div>
            <button (click)="mostrar = !mostrar">
                Mostrar/Ocultar
            </button>
        </div>

        <div class="col m-6">
            <h3>Personajes</h3>
            <hr>
            <ul class="list-group">
                <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">{{ i + 1 }} - {{ personaje }}</li>
              </ul>
        </div>
    </div>